body {
  background: wheat;
  color: coral;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

article {
  background: salmon;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: honeydew;
}

footer {
  text-align: center;
}

footer button {
  color: brown;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 10px 0 20px;
  font-size: 24px;
}

footer button:hover {
  color: red;
}